# Virtual environment
venv/

# Environment variables / secrets
.env

# Python cache
__pycache__/
*.pyc

# VS Code settings
.vscode/

data/

frontend/static/

known_entities.json

!data/ofac/
!data/ofac/*.csv
